.App {
  text-align: center;
}

body {
  font-family: 'Oswald';
}

h1 {
  font-size: 48px;
}

p {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0.5px;
}

img {
  margin: 10px;
  object-fit: cover;
}
